<%= render 'pages/navbar' %>
<div id="carouselExampleDark" class="carousel carousel-dark slide carousel-size m-5 " data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <%= image_tag 'neighborstudio.png', class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h4>NeighborStudio</h4>
        <p class="h6">A full studio rental app that allows users to rent out studios from fellow studio owners. A fully functional AirBnB clone. Worked mostly on the frontend.</p>
        <a href="https://neighbor-studio.herokuapp.com/">www.neighbor-studio.herokuapp.com</a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <%= image_tag 'melodict.png', class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h4 class="">Melodict</h4>
        <p class="h6">An ear training web app focused on melody dictation. Exercises are ordered by level with a step-by-step progression through the different aspects of melody in a tonal context. The aim of the game is then to reproduce a question melody by filling up the score.</p>
        <a href="https://neighbor-studio.herokuapp.com/">www.neighbor-studio.herokuapp.com</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"   data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
