<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://lh3.googleusercontent.com/pw/AM-JKLWS24XmjO956njHKuBeV9bTCnnVk4jAYJD8479dVMGK7OOo1adiBOVpN4I9LktRUrUcC0pThjnAQ3d0CJS1tTYPARhszUPd9O9e5mbPCK0ifADsVnLNhMy9SdhbSJ3KwsN8SBGkWouuKuPYgZPpgCEIEg=w1790-h887-no?authuser=0"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active mx-3">
          <a class="nav-link h6" href="/">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link h6" href="/about">About Me</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link h6" href="/works">My Works</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link h6" href="/contact">Contact Me</a>
        </li>
        <li class="nav-item mx-2 dropdown">
          <div
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </li>
        <!--li class="nav-item"-->
        <!--/li-->
      </ul>
    </div>
  </div>
</div>
