<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://static.wixstatic.com/media/2053f9_1b9d2ead65a741e1b76bc7dc30aec2c9~mv2.png/v1/fill/w_83,h_72,al_c,usm_0.66_1.00_0.01,enc_auto/nairb%20logo%20no%20controller.png"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active mx-3">
          <a class="nav-link h6" href="/">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link h6" href="/about">About Me</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link h6" href="/works">My Works</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link h6" href="/contact">Contact Me</a>
        </li>
        <li class="nav-item mx-2 dropdown">
          <div
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </li>
        <!--li class="nav-item"-->
        <!--/li-->
      </ul>
    </div>
  </div>
</div>
