.navbar-lewagon {
  justify-content: space-between;
  background: #454b66;
  height: 100px;
}

.navbar-brand {
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 164px;
}

.nav-link {
  border-radius: 10px;
  color: white !important;
}

.navbar-brand:hover {
  background-color: #32374d;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #32374d;
  border-radius: 10px;
}
