<%= render 'pages/navbar' %>
<div class="container-fluid p-0 h-100 ">
  <div class="row justify-content-center">
    <div class="col-lg-6 bg-light m-5 ">
      <div class="row align-items-center h-100 p-3">
        <h1 class="text-center fade-in">I am passionate about design<br>
          <p class="mt-4 h6 fade-in-long ">
            Growing up as the son of an architect, the arts have been a big part of my life. Any type of outlet I can have when it comes to expressing oneself creatively, becomes an interest of mine. Web development happens to be one of those outlets.
          </p>
        </h1>
      </div>
    </div>
    <div class="col  p-5 fade-in-long slide">
      <div
        class="card-category image-standing"
        style="
          background-image:
            url(https://lh3.googleusercontent.com/pw/AM-JKLWT38yK9iDXRRy10XQDPv5xEGUET3NZlBHINhYAYvtlfV8ieuopKha54ezvtQepnr-4KsOnW7PpyrwKuq6L2PyrTeokSoGB9o-rdMNsRJJLEL8rGBNDPc3MNtzD0dp1pnjLa-1lIL_XRftMgyNC8xcE=w1459-h973-no?authuser=0);
        "
      >
      </div>
    </div>
  </div>
<div class="row justify-content-center">
    <div class="col p-5 fade-in slide ">
      <div
        class="card-category m-5"
        style="
          background-image:
            url(https://lh3.googleusercontent.com/pw/AM-JKLUDdVhhpbUSmzL5Kepl8bjh6XkRcCWLLdfDJivp9a-tl8Ycfd1bLtHgPkYOAuWKmbTVSGFd6twZAezzzkPUA1radv1ZYdhaZhPT8qk-DgTSA_bndIn1HdhQIOJndO5o8X-Hs7GTLcXgSEIWLd_OkHMt8Q=w778-h973-no?authuser=0);
        "
      >
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 p-5 m-5 fade-in-long">
      <div class="row align-items-center h-100 ">
        <h1 class="text-center ">In my past time<br>
          <p class="mt-4 h6">
            I am also a multi-instrumentalist who loves creating in anyway I can to appeal to the senses. I utilize various forms of media such as music, photography, and videography to help express myself creatively.
          </p>
          <p><a class="btn-flat px-4 py-3 h6" href="/works">My work</a></p>
        </h1>
      </div>
    </div>
  </div>
</div>
