<%= render 'pages/navbar' %>
<div class="container-fluid p-0 h-100 ">
  <div class="row justify-content-center">
    <div class="col-lg-6 bg-light m-5 ">
      <div class="row align-items-center h-100 p-3">
        <h1 class="text-center fade-in">I am passionate about design<br>
          <p class="mt-4 h6 fade-in-long ">
            Growing up as the son of an architect, the arts have been a big part of my life. Any type of outlet I can have when it comes to expressing oneself creatively, becomes an intrest of mine. Web development happens to be one of those outlets.
          </p>
        </h1>
      </div>
    </div>
    <div class="col  p-5 fade-in-long slide">
      <div
        class="card-category "
        style="
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            url(https://lh3.googleusercontent.com/aGJgGvAw-5d85QWSK--c7lZeTP87GKdxXYfd18a9oYugXALqIvPX6gYhSsIUQMgTX_Rb_SEKhoeUTbavu2-clkE9Vx0nz8zMPOM1m_E4s4oNI0h62kPUecMenTeaSldQprVjac-r3mI6NJ0hiu8dGUdkkvE_xeCSmQAjEuF79XS41em0PedwJz2Vv0UwyGSP2v8BDFzKXFYL2JQhWsrF637vXuKrCyfxS_xOg8Kuqlwgu75X_fDoyIogQLMNUAJMoRQL5kmmln4pk-OWKOd3jOLBsUM8fzXYMrOZRXGu_l5lWTUbn0lPwMhOzE9ZJfMfp8Eohl9qZPRGbICIrwmRWsruDclrkHQR2VWEU6a8BXCxcDGy_X6QI_x5iGrA_pBE_MBGUVCiMWUdICwbB0e62Q-WsY-GQCJDebF7DGK2soUGpNaZn8FlBZ4_ZEMPQoY-0iKmiOgy4b-ZfV4dmsXUkE0EpXj9kYo0HnfRRGzSOecjcGjF3z1eSmJuwDx1r5Uui-AeQTUq9B1V_OD3mFEXxTATiuMLCK0gwB8aLnWa7XNh5h2vXQMeeTrMLk1cOECdeX3BGvG5rScG-bdmg_4Rqh9xpkiH9bes28mjC4PyCflx_KBJrGd37sOlz9cJMxCt9WcObMxcQeSZWB5I6ciM9dO_Zx-ZJ1ctVp4pN-v5ApR-gBtEcMJAYA7CTKoe0sx8M2kmxpl-kWamEWoga6hWFAOvtCWgollnd0eBMeV3T1TQ1DtBTwa6RVcanqpe3QSPDiVcgvNQlB3swVADDJqN0wxN89_iLXL4TzVc=w1331-h887-no?authuser=1);
        "
      >
      </div>
    </div>
  </div>
<div class="row justify-content-center">
    <div class="col p-5 fade-in slide ">
      <div
        class="card-category m-5"
        style="
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            url(https://static.wixstatic.com/media/2053f9_cb474bc7edb84891b29c802a9f11c1cd~mv2.jpg/v1/fill/w_813,h_720,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/2053f9_cb474bc7edb84891b29c802a9f11c1cd~mv2.jpg);
        "
      >
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 p-5 m-5 fade-in-long">
      <div class="row align-items-center h-100 ">
        <h1 class="text-center ">In my past time<br>
          <p class="mt-4 h6">
            I am also a multi-instrumentalist who loves creating in anyway I can to appeal to the senses. I utilize various forms of media such as music, photography, and videography to help express myself creatively.
          </p>
          <p><a class="btn-flat px-4 py-3 h6" href="/works">My work</a></p>
        </h1>
      </div>
    </div>
  </div>
</div>
